@media (max-width: 900px) {
    .charts {
        flex-direction: column;
        justify-content: center;
        margin: 0;
        width: 100%;
    }

    .dashboard-page {
        justify-content: center;

        &__element {
            justify-content: center;

            &__title {
                justify-content: start;
                text-align: center;
            }
        }
    }
}
