@media (max-width: 900px) {
    .dashboard-page {

        &__main-container {
            margin: 0;
            padding: 20px;
        }

        &__charts-container {
            flex-direction: column;
            justify-content: center;
            margin: 0;
            width: 100%;
        }

        &__element {
            justify-content: center;

            &__title {
                justify-content: start;
                text-align: center;
            }
        }
    }
}
