<div class="pie-chart">
	<p class="pie-chart__title">{{ title }}</p>
	<div class="pie-chart__block">
		<ng-container *ngIf="contentLoaded; else skeletonChart" class="pie-chart__block__chart">
			<tui-pie-chart
				[size]="size"
				class="tui-space__left-4 tui-space__top-3"
				[value]="values"
			></tui-pie-chart>
		</ng-container>
		<div class="pie-chart__block__list">
			<ul *forChart="let label of labels; index as i">
				<li [style.color]="getColor(i)">
					<p>{{ label }}</p>
				</li>
			</ul>
		</div>
	</div>
	<app-charts-button [title]="'pie-chart'"></app-charts-button>
</div>

<ng-template #skeletonChart>
    <app-skeleton type="chart"></app-skeleton>
</ng-template>
