<div #template>
    <ng-content></ng-content>
</div>
<div class="container" *ngIf="template.children.length == 0">
    <div
        class="breadcrumb"
        *ngFor="let route of breadcrumbs"
        [ngClass]="{ last: route.terminal }"
    >
        <a
            href=""
            *ngIf="!route.terminal"
            [routerLink]="[route.url]"
            [queryParams]="query"
            >{{ route.displayName }}/</a
        >
        <span *ngIf="route.terminal">{{ route.displayName }}</span>
    </div>
</div>
