<ng-container *ngIf="contentLoaded; else skeletonDashboardHeader">
    <div class="header">
        <div class="header__title-container">
            <img class="header__image" src="{{ image }}" />
            <p class="header__username">{{ lastName }} {{ username }}</p>
        </div>
        <div class="header__money">
            <div class="header__money__box-incomes">
                <img
                    style="z-index: 1"
                    src="/assets/images/green-polygon.svg"
                />
                <div style="z-index: 0" class="header__money__incomes">
                    <p [moneyClass]="incomes.toString() + 'i'">
                        {{ incomes | currencyPipe : currencySymbol }}
                    </p>
                </div>
            </div>
            <div class="header__money__box-expenses">
                <img style="z-index: 1" src="/assets/images/red-polygon.svg" />
                <div style="z-index: 0" class="header__money__expenses">
                    <p [moneyClass]="expenses.toString() + 'e'">
                        {{ expenses | currencyPipe : currencySymbol }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #skeletonDashboardHeader>
    <app-skeleton type="dashboard-header"></app-skeleton>
</ng-template>
