<div class="line-chart">
	<p class="line-chart__title">{{ title }}</p>
	<div class="line-chart__block">
		<ng-container *ngIf="contentLoaded; else skeletonChart" class="line-chart__block__chart">
			<tui-axes
				class="axes"
				[horizontalLines]="2"
				[tuiLineChartHint]="hint"
				[verticalLines]="4"
			>
				<tui-line-chart
					*ngFor="let value of values"
					class="chart"
					[height]="400"
					[value]="value"
					[width]="600"
					[x]="0"
					[y]="0"
				></tui-line-chart>
			</tui-axes>
		</ng-container>
		<div class="line-chart__block__list">
			<ul>
				<li style="color: #34b53a">
					<p>{{ encomes }}</p>
				</li>
				<li style="color: #ff3a29">
					<p>{{ expences }}</p>
				</li>
			</ul>
		</div>
	</div>
	<app-charts-button [title]="'line-chart'"></app-charts-button>
</div>


<ng-template #skeletonChart>
    <app-skeleton type="chart"></app-skeleton>
</ng-template>
