.day {
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: rgba(0, 0, 0, 0.1);
    user-select: none;
    height: 100px;
    position: relative;

    &:hover {
        background-color: lightgray;
        cursor: pointer;
    }

    &__date {
        font-family: "DM Sans", sans-serif;
        font-size: 20px;
        position: absolute;
        top: 5px;
        right: 10px;
        margin: 0;
    }
}

@media (max-width: 900px) {
    .day {
        height: 60px;

        &__date {
            font-size: 16px;
        }
    }
}
