.day {
    height: 145px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    text-align: center;
    line-height: 30px;
    border-color: rgba(0,0,0,0.1);
  }
  
  .day:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  .date{
    font-family: "DM Sans", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin: 0;
    padding-right: 30px;
    padding-top: 20px;
    text-align: right;
  }