<div class="month-navigation">
    <a class="month-nav-arrow" (click)="changeMonth(-1)">
        <img src="/assets/images/Left.svg">
    </a>
    <label>{{months[currentMonth] + " " +currentYear}}</label>
    <a class="month-nav-arrow" (click)="changeMonth(1)">
        <img src="/assets/images/Right.svg">
    </a>
</div>
<li class="days-names columns">
    <label class="name" *ngFor="let item of names"> {{item}}</label>
</li>
<div class="days-container columns" >
    <app-day *ngFor="let item of lastDays"> </app-day>
    <app-day *ngFor="let item of days" [day]="item"> </app-day>
</div>