.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 85%;

    &__title-container {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    &__image {
        width: 150px;
        height: 150px;
        border-radius: 80px;
    }

    &__username {
        font-family: "DM Sans", sans-serif;
        font-size: 40px;
        line-height: 1.2;
        text-align: center;
        margin: 0;
    }

    &__money {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "DM Sans", sans-serif;
        font-size: 40px;

        &__box-incomes {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            background-size: cover;
        }

        &__box-expenses {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
        }

        &__incomes {
            padding-right: 10px;
            border-radius: 5px;

            &__text {
                padding-right: 35px;
                line-height: 1.2;
                background-image: url("../../../../assets/images/incomes.svg");
                background-size: cover;
                margin: 5px 5px 5px -30px;
                padding-left: 35px;
            }

            &__text-long {
                line-height: 1.2;
                background-image: url("../../../../assets/images/incomes.svg");
                background-size: cover;
                margin-left: -30px;
                padding: 12px 35px;
                font-size: 24px;
            }
        }

        &__expenses {
            padding-right: 10px;
            border-radius: 5px;

            &__text {
                padding-right: 35px;
                line-height: 1.3;
                background-image: url("../../../../assets/images/expenses.svg");
                background-size: cover;
                background-position-x: left;
                margin: 5px 5px 5px -30px;
                padding-left: 35px;
            }

            &__text-long {
                line-height: 1.2;
                background-image: url("../../../../assets/images/expenses.svg");
                background-size: cover;
                margin-left: -30px;
                padding: 12px 35px;
                font-size: 24px;
            }
        }
    }
}
