.line-chart {
    width: 100%;

    &__block {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        width: 100%;
        min-height: 256px;

        &__chart {
            width: 40%;
            min-width: 500px;
        }

        &__list {
            width: 30%;
        }
    }

    &__title {
        font-family: "DM Sans", sans-serif;
        font-size: 24px;
        text-align: center;
    }
}

.axes {
    width: 25rem;
    height: 256px;
}

.chart {
    position: absolute;
    color: #ffb74c;

    &:first-child {
        color: #34b53a;
    }

    &:last-child {
        color: #ff3a29;
    }
}

li {
    font-size: 32px;
    align-items: center;
}

p {
    color: black;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    padding-top: 2%;
}
