.background {

    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0,0,0);
    position: absolute;
}

.menu-container {
    font-family: "DM Sans", sans-serif;
    width: 700px;
    bottom: 0;
    z-index: 1500;
    right: 0;
    top:0;
    position: absolute;
    background: white;

    &__content {

        &__expenses-container{

            display: flex;
            flex-direction: column;
            align-items: center;
            height: calc(100vh - 110px);
            overflow-y: auto;
        }
    }
    &__date{
        display: flex;
        margin-bottom: 30px;
         &__text{
            font-size: 26px;
            font-weight: bold;
            align-self: center;
            margin-right: calc(50% - 73px);
            margin-left: auto;
        
         }

    }
    
    
    &__closeButton{
        cursor: pointer;
    }
}

.create-card {

    width: 600px;
    height: 200px;
    outline: gray solid 2px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: lightgray;
        cursor: pointer;
    }
}

.creation-container {
    top: 80px; 
    z-index: 2000;
    display: flex;
    flex-direction: column;
    &__content {
        display: flex;
        align-self: center;
    }

    &__desc {
        max-width: 550px;
        min-width: 400px;

        align-self: center;
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
    }
}