@media (max-width: 900px) {
    .pie-chart {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__block {
            align-items: center;
            justify-content: center;

            &__chart {
                width: 40%;
                min-width: 256px;
            }
        }
    }
}

@media (max-width: 550px) {
    .pie-chart__block {
        flex-direction: column;
    }
}
